<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wx.th.springboot.mapper.UserMapper">

    <resultMap id="userMap" type="User">
        <result property="avatar_path" column="avatarPath"></result>
    </resultMap>

    <select id="queryUserById" resultType="User" resultMap="userMap">
        select *
        from t_user
        where id=#{id};
    </select>
    
    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user value(null,#{avatarPath},#{money},#{name},#{password},#{phone})
    </insert>

    <update id="update" parameterType="User">
        update t_user
        set phone = #{phone}
        where id =#{id};
    </update>

    <delete id="delete" parameterType="int">
        delete from t_user
        where id = #{id}
    </delete>



</mapper>
